#toolbox {
  position: fixed;
  top: 0;
}

body {
  margin: 0;
  overflow-y: hidden;
}

#my_canvas {
  width: 100vw;
  height: 100vh;
  cursor: url("https://img.icons8.com/material-outlined/24/000000/pencil--v1.png"), auto ;  
  background-color: rebeccapurple;
}

#undo:disabled {
  cursor: not-allowed;
}

#redo:disabled {
  cursor: not-allowed;
}